<div class="container">
  <form method="POST">
    <label for="txtUser" class="sr-only">Usuario</label>
    <input type="user" id="txtUser" name="txtUser" class="form-control" placeholder="Usuario" required autofocus>
    <label for="txtPassword" class="sr-only">Contraseña</label>
    <input type="password" id="txtPassword" name="txtPassword" class="form-control" placeholder="Contraseña" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
